.background{
    background-image: url(post.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: center;
    }
.card{
    margin: 30px;
    border-radius: 25px;
    background-color:antiquewhite;
} 
.display{
    display: inline-block; 
    height: 100%;
    width: 100%;   
} 
.submit{
    display:block;
    font-size: 20px;
    background-color: white;
    border: 0px;
    border-radius: 5px;
    color:darkblue;
    font-size: 24px;
    font-weight:500;
}
.text{
    font-family: monospace;
    color: white;
    margin-top: 50px;
}
.main{
    margin-top: 50px;
    color: white;
    font-size: 36px;
}
.error{
    font-size: 2rem;
    color:rgb(6, 12, 0);
}
.card-header{
    font-size: 26px;
    font-weight: 500;
}
.field{
    width: 25vw;
}
@media screen and (max-width: 567px){
    .field{
        width: 70vw;
    }
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}